<style>

    body{
        background-color: #DDA0DD
    }
</style>
<div class="navbar-wrapper">
    <div class="container-fluid">
        <div class="container">
            <div class="navbar-header">
                <div class="topDrop_registration" style="height: 120px">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#!/admin">
                        <img src="images/heart.jpg" style=" width:100px;" alt=""/>
                    </a>
                </div>
            </div>
        </div> 
    </div> 
</div> 
<div class="container">

    	
     <form name="stockForm" ng-controller="stockController" ng-submit="saveRequest()">
     </form>
</div>